### Lists

In [2]:
mylist=["Michael Jackson", 10.1, 1982, [1,2], ("A",1)]
# lists can contain strings, floats, integers, lists and tuples
mylist

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

_Lists are mutable. You can edit_

In [3]:
mylist[0]

'Michael Jackson'

In [4]:
mylist[0:3]

['Michael Jackson', 10.1, 1982]

In [5]:
mylist[3:5]

[[1, 2], ('A', 1)]

In [12]:
mylist.extend(["pop",10]) # added two more elements, each time adds when run
mylist

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10]

In [13]:
mylist

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10]

In [17]:
mylist.append(["pop",10]) # added one more element, one piece
mylist

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 ['pop', 10],
 ['pop', 10]]

In [18]:
del(mylist[-1]) # deletes entry
mylist

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 'pop',
 10,
 ['pop', 10]]

In [19]:
del(mylist[-13:-1])
mylist

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10, ['pop', 10]]

##### Converting String to List

In [21]:
"hard rock".split() # divides spaces

['hard', 'rock']

In [22]:
"A,B,C,D".split(",") # split when you see ,

['A', 'B', 'C', 'D']

##### List Liasing

In [24]:
listA=[10,5,1]
listB=listA
listB

[10, 5, 1]

In [25]:
listA[0]=20 # changed element 0, new value 20
listA

[20, 5, 1]

In [26]:
listB # listB also changed

[20, 5, 1]

In [27]:
listB=listA[:] # cloning listA,
listB

[20, 5, 1]

In [28]:
listA[1]=55     # now if we change sth in listA, listB will not be effected
listA

[20, 55, 1]

In [29]:
listB  # listB still same

[20, 5, 1]

### Dictionaries

In [1]:
dict_a={"car":"honda","house":"apartment","age":40,"sex":"female"}
dict_a

{'car': 'honda', 'house': 'apartment', 'age': 40, 'sex': 'female'}

In [2]:
dict_a["car"]

'honda'

In [3]:
dict_a["age"]

40

In [4]:
dict_a["height"]=1.75
dict_a

{'car': 'honda',
 'house': 'apartment',
 'age': 40,
 'sex': 'female',
 'height': 1.75}

In [6]:
del(dict_a["age"])

In [7]:
dict_a

{'car': 'honda', 'house': 'apartment', 'sex': 'female', 'height': 1.75}

In [9]:
dict_a.keys()

dict_keys(['car', 'house', 'sex', 'height'])

In [10]:
dict_a.values()

dict_values(['honda', 'apartment', 'female', 1.75])

### Sets

In [12]:
album_list=["Hello","Three","Come On", "Three"]

In [13]:
album_set= set(album_list)

In [14]:
album_list

['Hello', 'Three', 'Come On', 'Three']

In [15]:
album_set

{'Come On', 'Hello', 'Three'}

In [16]:
album_set.add("House")
album_set

{'Come On', 'Hello', 'House', 'Three'}

In [18]:
album_set.remove("Come On")
album_set

{'Hello', 'House', 'Three'}

In [19]:
"Three" in album_set

True

In [20]:
"Apple" in album_set

False

In [30]:
set1={"Hi","ok","never"}
set1

{'Hi', 'never', 'ok'}

In [31]:
set2={"Hi","ok","always"}
set2

{'Hi', 'always', 'ok'}

In [26]:
set3=set1 & set2
set3
# intersection &

{'Hi', 'ok'}

In [31]:
set1.union(set2)
# combined

{'Hi', 'always', 'never', 'ok'}

In [28]:
set4={"ok","never"}
set4

{'never', 'ok'}

In [32]:
set4.issubset(set1)

True

In [33]:
set4.issuperset(set1)

False

In [34]:
set1.issuperset(set4)

True

In [35]:
set1.difference(set2)
# finding diff in set1 not in set2

{'never'}

In [37]:
set2.difference(set1)
# reverse above

{'always'}

In [38]:
set1.intersection(set2)
# maybe same with &

{'Hi', 'ok'}